.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Title {
  text-align: center;
  color: rgb(131,58,180);
  font-size: 230%;
  font-weight: bold;
}

.Tasks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 648px;
  margin-top: 50px;
  gap: 20px;
}